body {
    background-color: rgb(176, 40, 176);
}

.firstsection {
    display: flex;
    justify-content: space-around;
    margin: 80px;

}

.pink {
    color: rgb(227, 5, 149);
}

.leftsection {
    font-size: 10px;
    width: 20%;
    color: white;
}

.rightsection img {
    display: flex;
    width: 40%;
    margin: 50px 0;
    font-family: 'Poppins', sans-serif;
}

h4 {
    text-align: center;
    justify-content: center;
}

nav h4 {
    font-family: 'Dancing Script', cursive;
}

nav {
    background-color: rgb(227, 5, 149);
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
}

nav {
    display: flex;
    padding: 30px 0;
    align-items: center;
    justify-content: space-evenly;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a:hover {
    text-decoration: none;
    color: white;
    font-weight: bold;
    width: max-content;
    font-size: 72;
    position: relative;
    cursor: pointer;
    margin: auto;
}

nav ul li a:hover ::after {
    content: "";
    position: absolute;
    bottom: -5;
    height: 4px;
    width: 100%;
    left: 0;
    background-color: white;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);
}

nav ul li a:hover::after {
    transform: scaleX(1);
}

nav h4 {
    color: white;
}

.image {
    margin-left: 100px;
}

.myim{
    height: 600px;
}

.first {
    display: flex;
    margin: auto;
}

h2 {
    color: white;
    font-family: cursive;
    margin-top: 10px;
}

.me {
    margin-top: 200px;
    margin-left: 200px;
}

.About {
    display: flex;
    background-color: rgb(227, 5, 149);
    margin: auto;
}

.abt-1 {
    margin-top: 70px;
    font-family: cursive;
}

.mainabout {
    display: flex;
    background-color: rgb(227, 5, 149);
    color: white;
    text-align: center;
    justify-content: center;
    font-family: cursive;
}

.Para {
    display: flex;
    margin: auto;
    font-family: cursive;
    color: white;
}

.mainabout {
    font-size: 40px;
    text-transform: capitalize;
    font-family: cursive;
    font-weight: bold;
}

.mainabout:hover {
    color: purple;
}

.Skills:hover {
    color: rgb(227, 5, 149);
}

.myimg {
    padding: 40px;
    width: 500px;
    height: auto;
}

.Skills {
    font-size: 70px;
    text-transform: capitalize;
    font-family: cursive;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list {
    display: flex;
    width: 400px;
    height: 400px;
    border: 6px solid white;
    background-color: rgb(227, 5, 149) ;
    color: white;
    font-family: cursive;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.myskills {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
}

.Projects {
    background-color: rgb(227, 5, 149);
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
    height: 700px;
}

.Portfolio {
    color: white;
    text-transform: capitalize;
    font-size: 80px;
    text-align: center;
    border: 4px;
}

.Pro {
    display: flex;
    margin: auto;
    align-items: center;
}

.Project1 {
    color: white;
    font-size: 20px;
    background-color: black;
    height: 300px;
    width: 300px;
    text-align: center;
    margin-right: 20px;
    border-radius: 17px;
}

.Project2 {
    color: white;
    font-size: 20px;
    background-color: black;
    height: 300px;
    width: 300px;
    text-align: center;
    margin-right: 20px;
    border-radius: 17px;
}

.Project3 {
    color: white;
    font-size: 20px;
    background-color: black;
    height: 300px;
    width: 300px;
    text-align: center;
    margin-right: 20px;
    border-radius: 17px;
}

button {
    color: white;
    background-color: rgb(255, 50, 85);
    font-size: 20px;
}

a {
    text-decoration: none;
    color: white;
}

.Res {
    color: white;
    text-transform: capitalize;
    font-size: 70px;
    text-align: center;

}

#downloadButton {
    width: 160px;
    height: 40px;
    border-radius: 15px;
}

button#downloadButton {
  background-color: #3498db;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button#downloadButton:hover {
    background-color: rgb(255, 50, 85);
}

button#downloadButton:focus {
  outline: none;
}

.contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 130px;
}
.contact-text h2{
    font-size: 50px;
    line-height: 1;
}
.contact-text h2 span{
   color: navy;
}
.contact-text h4{
    margin: 15px 0;
    color: rgb(228, 228, 228);
    font-size: 20px;
    font-weight: 600;
}
.contact-text p{
    color: navy;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 2rem;
}
.contact-list li{
   margin-bottom: 10px;
   display: block;
   color: navy;
}
.contact-list i{
    display: inline-block;
    color: navy;
    font-size: 25px;
    font-weight: 600;
    transition: all .40s ease;
}
.contact-list li i:hover{
   transform: scale(1.01) translateY(-5px);
   color: black;
}
.contact-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background:transparent;
    border: 2px solid navy;
    border-radius: 50%;
    font-size: 20px;
    color: navy;
    text-decoration: none;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    margin: 30px 15px 30px 0;
}
.contact-icons a:hover{
    background: navy;
    color: #081b29; 
}
.contact-form form{
    position: relative;
}
.contact-form form input,form textarea{
   border: none;
   outline: none;
   width: 90%;
   padding: 18px;
   background: navy;
   color: #000;
   font-size: 1rem;
   font-weight: 600;
   margin-bottom: 0.5rem;
   border-radius: 0.5rem;
}
.contact-form textarea{
    resize: none;
    height: 220px;
}
.contact-form form .send{
    display: inline-block;
    padding: 14px 60px;
    background: navy;
    border-radius: 40px;
    font-size: 18px;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: 1s;
    box-shadow: 0 0 5px navy,
    0 0 25px navy;
}
.contact-form form .send:hover{
    box-shadow: 0 0 5px navy,
    0 0 25px rgb(12, 12, 135), 0 0 50px rgb(46, 46, 118),
    0 0 100px navy, 0 0 200px navy;
}
footer{
    display: flex;
    color: white;
    justify-content: center;
    background-color: black;
    position: relative;
    height: 80px;
    width: 100%;
}

.copyright {
    font-weight: bold;
}


.of {
    background-color: blue;
    height: 5px;
}
